html,
body,
#react-root {
  min-height: 100vh;
  padding-bottom: 20px;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
  /* Gradient background */
  background-color: #7f5a83;
  background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
  background-repeat: no-repeat;
}

img {
  display: inline-block;
  max-width: 100%;
}

.error-screen {
  color: white;
  text-align: center;
}

.small-container {
  margin-top: 50px;
  border-radius: 15px;
  padding: 20px;
  background-color: #f0f8ff38;
  color: #dbdbdb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s ease;
}

.small-container:hover {
  transform: scale(1.03, 1.03);
  box-shadow: rgb(139 144 202) 0px 5px 15px;
}

.small-container-no-hover {
  margin-top: 50px;
  border-radius: 15px;
  padding: 20px;
  background-color: #f0f8ff38;
  color: #dbdbdb;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.3s ease;
}

.small-container-no-hover:hover {
  box-shadow: rgb(139 144 202) 0px 5px 15px;
}

.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
}
.reveal.active {
  animation: reveal 0.3s ease both;
}

@media screen and (max-width: 500px) {
  .reveal {
    transform: translateY(0);
    opacity: 1;
  }
}

.card-content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.line-gap {
  margin-top: 50px;
}

/* --------------------------------------------------------------------------------
Scrollbar
-------------------------------------------------------------------------------- */

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: rgba(169, 169, 169, 0.599);
  outline: 1px solid slategrey;
  border-radius: 15px;
}

/* --------------------------------------------------------------------------------
Animations
-------------------------------------------------------------------------------- */

#rocket-anim {
  height: 300px;
  position: absolute;
  top: 25%;
}

.animation-screen {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes reveal {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding-left: 20px;
  padding-right: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: #014041;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #00acb0;
  color: #f8f8f8;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: #008183;
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background: none;
  font: inherit;
  color: #444;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #efefef;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
}
