.last-container {
    margin-bottom: 180px;
}

.portfolio-subtitle {
    color: white;
    font-size: 40px;
    text-align: center;
    border-bottom: 3px solid white;
    display: inline-block;
}

.card-description {
    max-width: 440px;
}

.card-img {
    max-width: 550px;
    border: 1px solid #7880bb;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-name {
    font-weight: bold;
}

.app-link {
    color: #a3adff;
    transition: 0.3s ease;
    display: inline-flex;
}

.app-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

.app-link-container {
    margin-top: 10px;
}
